<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATxsrPB03TPMVtY5-VippHCedTGV-O2Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>996789373458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSeniorProjectApp</string>
	<key>PROJECT_ID</key>
	<string>pioneerbible-3e556</string>
	<key>STORAGE_BUCKET</key>
	<string>pioneerbible-3e556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996789373458:ios:18beb506a6cddb456466cb</string>
</dict>
</plist>